<!--Inherit the base file-->
{% extends 'base.html' %}
{% block body %}

<center>
    <div class="container">
        <br>
        <h2 class="my-3">
            Extract Stock Data through API: Company and Date Wise
        </h2>
        <br>
        <div class="card border-dark my-3" style="width: 50%">
            <div class="card-body">
                <h5 class="card-title  my-3">
                    Enter the company code name only
                </h5>

                <!--Create Form to take Company name and Date from user-->
                <form id="comp" onsubmit="clicked()">
                    <div class="mb-3">
                        <br>
                        <input name="keywords" type=" text" class="form-control" id="dateInput"
                            aria-describedby="emailHelp">
                        <br>
                        <h5 class="card-title  my-3">
                            Enter the date only
                        </h5>
                        <br>
                        <input name="keywords2" type=" text" class="form-control" id="dateInput"
                            aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-outline-dark my-3">
                        Submit
                    </button>
                </form>
                <p class="card-text text-muted">
                    NOTE: - The format of input of company name should be in the form of code word and uper
                    case only and date dhould be in the formate of date only. <br>eg. Cisco - CSCO, 'Apr 03, 2023'
                </p>

            </div>
        </div>
    </div>
</center>
<br>

<!--Display company details table-->
<div class="container text-center">
    <h2 class="my-3">
        Companies name and there code words
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SL No.</th>
                <th scope="col">Company Name</th>
                <th scope="col">Company Code</th>
            </tr>
        </thead>
        <tbody>

            <!--For loop to display all company Details-->
            {% for company in actualContain %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ company['name'] }}</td>
                <td>{{ company['code'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

<script>
    function clicked() {
        // Take the Name and Date value from the form and add in the URL
        var action_src = "http://127.0.0.1:8000/stock-date-company/" + document.getElementsByName("keywords")[0].value + "/" + document.getElementsByName("keywords2")[0].value;
        var your_form = document.getElementById('comp');
        your_form.action = action_src;
    }
</script>

<!--Inherit the base file-->
{% endblock body %}